
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style body properties */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #222;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  padding-top: 15px;

}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #000;
  font-size: 13px;
  opacity: 0.75;
  text-align: center;
  padding: 14px 12px;
  padding-left: 15px;
  text-decoration: none;
}

/* Style the right section of nav bar */
.rightnav {
    float: right;
    padding-right: 30px;
    position: relative;
}

/* Style the google apps icon */
#apps {
  background-image: url("/home/tristan/the_odin_project/google-homepage/images/google-app-launcher.png");
  background-size: 528px 68px;
  background-position: -132px -38px;
  opacity: 0.55;
  display: inline-block;
  position: relative;
  top: 5px;
  border-radius: 2px;
  box-sizing: border-box;
  height: 30px;
  width: 30px;

}

/* Style the google profile link */
#profile {
    border: 1px solid #4285f4;
    border-radius: 2px;
    background: -webkit-linear-gradient(top, #4387fd, #417fe9);
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 1px;
    margin: 5px;
}

/* Underline links when cursor hovers */
.topnav a:hover {
  text-decoration: underline;
}

/* Style content box */
.content {
  margin-top: 89px;
  padding: 10px;
  height: 233px; 
  display: block;
  text-align: center;
}

/* Style div that holds the 2 buttons */
.containerbtns {
    display: block;
    padding-top: 18px;
    top: 53px;
    height: 70px;
}

/* Style the two buttons */
.main-button {
    background-color: #f2f2f2d5;
    background-image: -webkit-linear-gradient(top,#f5f5f5, #f1f1f1);
    color: #5f6368;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding-right: 20px;
}

/* Style the hover effect on buttons */ 
.main-button:hover {
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    cursor: pointer;
    color: #222222;
}

/* Style the search-box */
.search-box {
    display: block;
    position: relative;
    margin: auto;
    padding-top: 10px;
    height: 52px;
    width: 900px;

}

/* Style the searchbar-in */
.searchbar-shell {
  border: 1px solid #dfe1e5;
  width: 482px;
  height: 40px;
  display: flex;
  flex: 1 1 0%;
  margin: 0 auto;
  padding-top: 6px;
  border-radius: 24px;
  
} 

/* Style the searchbar */
.searchbar {
    background-color: transparent;
    border: none;
    flex: 1 1 100%;
    flex-shrink: 1;
    height: 30px;
    line-height: 34px;
    flex-wrap: nowrap;
    outline: none;
    word-wrap: break-word;
    padding-bottom: 5px;
    
}

/* Style the searchbar hover effect */
.searchbar-shell:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

/* Style the search icon's box (NOT ICON ITSELF) */
.icon-box {
  flex: initial;
  fill: currentColor;
  position: relative;
  align-items: center;
  padding-right: 10px;
  margin-left: 10px;
}

/* Style the search icon*/
#search-icon {
  color: #9AA0A6;
  display: block;
  height: 20px;
  width: 20px;
  margin-top: 3px;
}

.mic-box {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  margin: auto;
  padding-right: 10px;
  padding-bottom: 8px;
}

.mic {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

/* Style the footer */
.footer {
  border-top: 1px solid #e4e4e4;
  bottom: 0;
  padding-left: 27px;
  line-height: 40px;
  position: fixed;
  height: 40px;
  background-color: #f2f2f2f2;
  width: 100%;
}

/* Style the footer links */
.footer a {
    float: left;
    display: block;
    color: #000;
    font-size: 14px;
    opacity: 0.75;
    text-align: center;
    padding-right: 27px;
    text-decoration: none;
  }

  /* Style the hover on footer links */
  .footer a:hover {
      text-decoration: underline;
  }

  /* Style the right section of footer */
  .rightfoot {
      float: right;
  }

